
*{
    background-color: rgb(120 117 240);
	box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: currentColor;
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome'; box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
}
#MainShell {
    color-scheme: dark;
        accent-color: #6563ee;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 1rem;
    max-width: 1024px;
    width: 100%;
        margin-right: auto;
        margin-left: auto;
}