tr{
    height: 50px;
}
td{
    text-align: center;
}
*{
  box-sizing: border-box;
}
body {
 font-family: 'Poppins', sans-serif;
 margin: 0;

 min-height: 100vh;
 justify-content: center;
 display: flex;
 align-items: center;

 background-color: #F5F5DC;
}
.container {
 width: 800px;
 height: 500px;
 padding: 40px 0;
}
.block{
height: 100%;
background-color: rgba(255,255,255, 0.2);
box-shadow: 0 5px 45px rgba(0,0,0,0.2);
}
.form-control{
font-size: 1.2rem;
font-weight: 500;
color: #fff;
margin-bottom: 10px;
}
.w-30 btn btn-lg btn-primary{

}


