
*{
  box-sizing: border-box;
}
body.signup {
 font-family: 'Poppins', sans-serif;
 min-height: 100vh;
 display: flex;
 align-items: center;
 background-color: #F5F5DC;
}
.block{
background-color: rgba(255,255,255, 0.2);
box-shadow: 0 5px 45px rgba(0,0,0,0.2);
}
.form-control{
font-size: 1.2rem;
font-weight: 500;
color: #fff;
margin-bottom: 10px;
}
.signup .container{
 width: 640px
}